<!DOCTYPE html>
<html lang="en-us">
<head>
    <title>Main Menu</title>
</head>
<body>

    <h1>Main Menu</h1>

    <button class="buttons" onclick="window.location.href='/AddQuotes'">Add New Quote</button><br />
    <button class="buttons" onclick="window.location.href='/ViewAllQuotes'">View All Quotes</button><br />
    <input type="submit" name="exit" value="Exit" /><br />


</body>
</html>
